body {
	background-color: #FFFFFF;
	} 
p { 
 	font-family: 'Droid Serif', serif;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	letter-spacing: 2px;
	}
hr a{ 
    display: block;
    margin-top: 10px;
    margin-bottom: 18px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 0.25px;
}
.navbar-default {
	border-radius: 0;
    border-color: white;
	height: 85px;
	background-color: #FFFFFF;
	padding-left: 3%;
	margin: 0;
	width: 100%;
    position: fixed;
    z-index: 1000;
    white-space: nowrap;
    text-align: center;
	}
li:first-child {
	margin-left: 200px;
}
li {
  	display:inline;
	list-style-type: none;
	padding:0;
	margin:0;
	overflow: hidden;
	border-radius: 0 !important;
    width: 100%;
	}
li a  {
	font-family: 'Droid Serif', serif;
	font-size: 19px;
	letter-spacing: 3px;
	color: #000000;
	text-decoration: none;
	}
li a:hover {
	text-decoration: none;
	color: #000000;
}
.celebrate {
	width: 536px;
	height: 310px;
	background-color: #13002D;
	opacity: 0.85;
	margin-top: 12%;
	margin-left: 7%; 
	padding-top: 3%;
	position: absolute;
	z-index:1;
}

.myCarousel {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: 0 !important;
	}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   color: #000000;
   width: 75%;
}
.glyphicon-menu-left, .glyphicon-menu-right {
	font-size: 26px;
	margin-left: 21%;
}
.controlled {
	margin-top: -4%;
	width: 150%;
}

.about {
	margin-bottom: 10px;
	padding: 0;
	overflow: hidden;
	height: 100%;
	}

.swag {
	margin: 140px 35px 140px 35px;
	background-color: #ffffff;
	border-color: white;
	}
.icon-success {
	color: #000000;
	}
.impact a{
	color: #FFFFFF;
	font-family: 'Droid Serif', serif;
	letter-spacing: 3px;
	font-size: 21px;
	font-weight: 400;
	text-decoration: none;
	}
.impact a:hover {
		color: #5F3C90;
	}
.impactful {
	font-family: 'Droid Serif', serif;
	letter-spacing: 3px;
	font-size: 21px;
	font-weight: 400;
	padding-top: 3%;
}

.less-impact {
	line-height: 25px;
	font-size: 14px;
    letter-spacing: 4px;
    color: #14181C;
    font-family: 'raleway', sans-serif;
    font-weight: 300;
}

.nonblock {
	color: #000000;
	font-family: 'Droid Serif' sans-serif;
	font-size: 21px;
	font-weight: 400;
}

 form{
	background: url('LinenBackground.jpg');
	padding: 0;
	margin: 0;
	background-size:cover;
	background-repeat: no-repeat;
	position: absolute;
	height: 650px;
	background-color: rgba(20, 24, 48, 0.3);
	border-bottom-width: 0px;
}
.baseline {
	background: none;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}
h2 {
	width: 748px;
    min-height: 14px;
    color: #FFFFFF;
    letter-spacing: 3px;
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    padding: 6px;

}
h1  {
	font-family: 'Droid Serif', serif;
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: center;
	line-height: 29px;
	
}
.sexy {
	padding:0;
	margin-top: 30%;
	margin-left: 516px;
	position: absolute;
}
a {
    text-align: center;
    letter-spacing: 5px;
    color: #8267B4;
    font-size: 20px;
    font-family: 'raleway', sans-serif;
    font-weight: 200;
}
a:hover{
	color: #FFFFFF; 
}
input, textarea {
	border: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: 30px;
	background: transparent;
}
.placeholder {
    color: #FFFFFF;
    letter-spacing: 3px;
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.contact {
	 color: #FFFFFF;
    letter-spacing: 3px;
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
 table.center{
 	width: ;
 	border-spacing:0;
  }
   footer {
  	margin-top: 10%;
  }
  footer a{
  	font-family: 'raleway', sans-serif;
  	color: #ffffff;
  	font-size: 13px;
  }
  h5 {
  	font-family: 'raleway', sans-serif;
  	color: #ffffff;
  	font-size: 13px;
  	letter-spacing: 5px;
  	font-weight: 300;
  }
